In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

# Create the Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
import pandas as pd

# Create a list with 10 elements
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Convert the list into a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [3]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
'''In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types in columns, similar to a spreadsheet or a SQL table. A DataFrame is essentially a collection of Pandas Series, where each column represents a Series. It provides a powerful and flexible way to manipulate, analyze, and visualize data.

On the other hand, a Pandas Series is a one-dimensional labeled array that can store homogeneous data of any type. It is essentially a single column of data with an index. A Series can be seen as a single column of a DataFrame.

Here is an example to illustrate the difference between a DataFrame and a Series:'''

'In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types in columns, similar to a spreadsheet or a SQL table. A DataFrame is essentially a collection of Pandas Series, where each column represents a Series. It provides a powerful and flexible way to manipulate, analyze, and visualize data.\n\nOn the other hand, a Pandas Series is a one-dimensional labeled array that can store homogeneous data of any type. It is essentially a single column of data with an index. A Series can be seen as a single column of a DataFrame.\n\nHere is an example to illustrate the difference between a DataFrame and a Series:'

In [4]:
import pandas as pd

# Create a dictionary containing data for a DataFrame
data = {'name': ['John', 'Jane', 'Jim', 'Joan'],
        'age': [25, 30, 35, 40],
        'occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

   name  age occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer

In [5]:
import pandas as pd

# Create a list of ages
ages = [25, 30, 35, 40]

# Create a Series from the list
age_series = pd.Series(ages)

# Print the Series
print(age_series)

0    25
1    30
2    35
3    40
dtype: int64

In [6]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#   you give an example of when you might use one of these functions?
'''Pandas provides many functions to manipulate and transform data in a DataFrame. Here are some of the commonly used functions:

head() and tail(): These functions are used to display the first and last few rows of a DataFrame. They are useful to quickly inspect the structure of a DataFrame and the data it contains.'''

'Pandas provides many functions to manipulate and transform data in a DataFrame. Here are some of the commonly used functions:\n\nhead() and tail(): These functions are used to display the first and last few rows of a DataFrame. They are useful to quickly inspect the structure of a DataFrame and the data it contains.'

In [7]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Display the first few rows of the DataFrame
print(df.head())

# Display the last few rows of the DataFrame
print(df.tail())

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [8]:
'''describe(): This function provides a summary of the statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.'''

'describe(): This function provides a summary of the statistics of the numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.'

In [9]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Get the summary statistics of the DataFrame
print(df.describe())

              A
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

In [10]:
'''drop(): This function is used to drop one or more columns or rows from the DataFrame. It is useful to remove unnecessary or irrelevant data from the DataFrame.'''

'drop(): This function is used to drop one or more columns or rows from the DataFrame. It is useful to remove unnecessary or irrelevant data from the DataFrame.'

In [11]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})

# Drop column 'B' from the DataFrame
df = df.drop('B', axis=1)

# Print the modified DataFrame
print(df)

   A
0  1
1  2
2  3
3  4
4  5

In [12]:
'''groupby(): This function is used to group the data in the DataFrame by one or more columns, and apply an aggregation function to each group. It is useful to summarize or aggregate the data based on specific criteria.'''

'groupby(): This function is used to group the data in the DataFrame by one or more columns, and apply an aggregation function to each group. It is useful to summarize or aggregate the data based on specific criteria.'

In [13]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 1, 2, 2, 3], 'B': [10, 20, 30, 40, 50]})

# Group the data by column 'A' and calculate the mean of column 'B'
grouped = df.groupby('A').mean()

# Print the grouped DataFrame
print(grouped)

      B
A
1  15.0
2  35.0
3  50.0

In [14]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
'''Both Series and DataFrame are mutable in nature, which means that we can modify their contents after they have been created. However, Panel is immutable, which means that once it has been created, we cannot modify its contents directly. Instead, we can create a new Panel object with the desired modifications. This is because Panel is considered a less important data structure in Pandas compared to Series and DataFrame. As of Pandas version 1.0, the Panel data structure is deprecated and users are encouraged to use other data structures such as MultiIndex DataFrame.'''

'Both Series and DataFrame are mutable in nature, which means that we can modify their contents after they have been created. However, Panel is immutable, which means that once it has been created, we cannot modify its contents directly. Instead, we can create a new Panel object with the desired modifications. This is because Panel is considered a less important data structure in Pandas compared to Series and DataFrame. As of Pandas version 1.0, the Panel data structure is deprecated and users are encouraged to use other data structures such as MultiIndex DataFrame.'

In [16]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)



# Modify the Series
series[1] = 25
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    10
1    25
2    30
3    40
4    50
dtype: int64

In [17]:
# Example for DataFrame:

import pandas as pd

data = {'Name': ['John', 'Jane', 'Jim', 'Joan'],
        'Age': [25, 30, 35, 40],
        'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']}
df = pd.DataFrame(data)
print(df)


# Modify the DataFrame
df.loc[0, 'Name'] = 'Johnny'
df['Gender'] = ['Male', 'Female', 'Male', 'Female']
print(df)

   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer
     Name  Age Occupation  Gender
0  Johnny   25   Engineer    Male
1    Jane   30     Doctor  Female
2     Jim   35    Teacher    Male
3    Joan   40     Lawyer  Female

In [18]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
'''We can create a Pandas DataFrame using multiple Series. To do this, we can pass a dictionary of Series to the pd.DataFrame() function, where each key in the dictionary represents the column name and each value is a Pandas Series representing the data for that column.

Here's an example:'''

"We can create a Pandas DataFrame using multiple Series. To do this, we can pass a dictionary of Series to the pd.DataFrame() function, where each key in the dictionary represents the column name and each value is a Pandas Series representing the data for that column.\n\nHere's an example:"

In [19]:
import pandas as pd

# Create Series for each column of the DataFrame
names = pd.Series(['John', 'Jane', 'Jim', 'Joan'])
ages = pd.Series([25, 30, 35, 40])
occupations = pd.Series(['Engineer', 'Doctor', 'Teacher', 'Lawyer'])

# Combine the Series into a DataFrame
data = {'Name': names, 'Age': ages, 'Occupation': occupations}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

   Name  Age Occupation
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   35    Teacher
3  Joan   40     Lawyer

In [22]:
# Q3. Create a Pandas DataFrame that contains the following data:

# Then, print the DataFrame.

'''Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female'''

'Name\nAlice\nBob\nClaire\n\nAge\n25\n30\n27\n\nGender\nFemale\nMale\nFemale'

In [20]:
'''To create a Pandas DataFrame with the given data, we can create three Pandas Series, one for each column of the DataFrame, and then combine them into a DataFrame using the pd.concat() function. Here's an example code:'''

"To create a Pandas DataFrame with the given data, we can create three Pandas Series, one for each column of the DataFrame, and then combine them into a DataFrame using the pd.concat() function. Here's an example code:"

In [21]:
import pandas as pd

# Create Series for each column of the DataFrame
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Combine the Series into a DataFrame
df = pd.concat([names, ages, genders], axis=1)
df.columns = ['Name', 'Age', 'Gender']

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female